{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}{% endblock %}
    {% block enlaces %}
        {# <a href="{{ path('show_alumnos') }}"></a> #}
        <a href="/listaAlumnos">Lista de alumnos</a>
    {% endblock %}
{% endblock %}