{% extends 'layout.html.twig' %}

{% block title %} {{ titulo }} {% endblock %}
{% block content %}
    <h1>{{ titulo }}</h1>
    <table>
    {% block tabla %}
    {#}
        <tr>
            {% set temp = tabla|first %}
            {% for campo in (temp|keys) %}
                <th></th>
            {% endfor %}
        </tr>
        {% for asunto in tabla %}
        <tr>
            {% for campo in asunto %}
            <td></td>
            {% endfor %}
        </tr>
        {% endfor %} #}
    {% endblock %}
    </table>
{% endblock %}